.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Center items vertically */
  
  background-color: #ffffff;
}

.logo {
  width: 200px; /* Set the width of the logo */
  padding-left: 11px;
 
}

.top_fixed{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  padding: 13px;
  padding-right: 50px;
  padding-top: 38px;
  background-color: #fffcfc;
}

.second-image {
  width: 40px; /* Set the width of the logo */
  /* Add some spacing between the logo and other navbar items */
}




.navbar-items-left ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 45px;
  padding-top: 20px;
}

.navbar-items-left li {
  margin-right: 20px;
}



.navbar-items-left a {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
}


.card-container {
  width: 430px;
  background-color: #fff;
  
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9px;
  padding-bottom: 0;
  
}


.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
  
}

.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 46px;
}
.image2 {
  width: auto;
  height: 150px;
  object-fit: cover;
  margin-right: 16px;
}

.title {
  font-size: 15px;
  
  margin-bottom: 8px;
  border-radius: 30px;
  padding: 5 px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #ffffff;
}

.edit-button {
  font-size: medium;
  background-color: #ffffff;
  color: #8d8a8a;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border-color: #5f4f4f;
  border-width: 1px;
  

}
.abc{
  display: flex;
  flex-direction: row;
  margin-top: 9px;
  flex-wrap: wrap;
  flex: 0 0 33.333333%;
  padding-left: 0;
  flex-basis: 33.333333%,
}


.font{
  margin-left: 49px;
  margin-bottom: -40px;
  color: rgb(57, 99, 235);
}

.font1{
  padding-left: 94px;
  font-size: 30px;
  /* opacity: initial; */
  color: slategrey;
}


/* OPTION TAG */
.react-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #666;
}

.historical-page {
  margin-top: 20px;
}

label {
  display: inline-block;
  margin-right: 10px;
}

.selection{
  margin: 58px;
  margin-left: 178px;
}

.Chart-style{
  height: 100vh;

  
}